<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Configuration</title>
    <div th:replace="header :: header-css"/>
</head>
<body class="p-3 mb-2 bg-light text-dark">
    <div th:replace="header :: header"/>
    <div class="container-fluid" style="margin-top: 100px">
        <h2>Authenticated username:</h2>
        <div sec:authentication="name"></div>
        <h3>Authenticated user roles:</h3>
        <div sec:authentication="principal.authorities"></div>
        <h3>Comments:</h3>
        <div class="list-group">
            <div class="list-group-item"  th:each="comment : ${comments}">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1" th:text="${comment.getHeading()}"></h5>
                    <small th:text="${comment.getDate()}"></small>
                </div>
                <p class="mb-1" th:text="${comment.getText()}"></p>
            </div>
        </div>
    </div>
</body>
</html>