<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Configuration</title>
    <div th:replace="header :: header-css"/>
</head>
<body class="p-3 mb-2 bg-light text-dark">
    <div th:replace="header :: header"/>
    <div class="container-fluid" style="margin-top: 100px">
        <h2>Authenticated username:</h2>
        <div sec:authentication="name"></div>
        <h3>Authenticated user roles:</h3>
        <div sec:authentication="principal.authorities"></div>
    </div>
</body>
</html>