<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" >
    <div th:fragment="header-css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </div>
</head>
<body>
    <div th:fragment="header">
        <nav class="navbar fixed-top navbar-expand-lg navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">IKT Mensa Service</a>
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/home">Home</a>
                <a sec:authorize="isAuthenticated()" class="nav-item nav-link" href="/configuration">Configuration</a>
                <a sec:authorize="isAnonymous()" class="nav-item nav-link" href="/registration">Registration</a>
            </div>
            <div class="nav navbar-nav ml-auto w-100 justify-content-end">
                <a sec:authorize="isAuthenticated()" href="#" class="nav-item nav-link" sec:authentication="name"></a>
                <a sec:authorize="isAnonymous()" href="/login" type="button" class="btn btn-success btn-sm" aria-haspopup="true" aria-expanded="false">Login</a>
                <a sec:authorize="isAuthenticated()" href="/logout" type="button" class="btn btn-danger btn-sm" aria-haspopup="true" aria-expanded="false">Logout</a>
            </div>
        </nav>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>