<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>IKT Mensa Service</title>
    <div th:replace="header :: header-css"/>
</head>
<body class="p-3 mb-2 bg-light text-dark">
    <div th:replace="header :: header"/>
    <div class="container-fluid" style="margin-top: 100px">
        <div>
            <h1>Mensa Menü</h1>
            <div class="float-right">
                <a href="/update" type="button" class="btn btn-info btn-sm" aria-haspopup="true" aria-expanded="false">Update Menu</a>
            </div>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Gerichte</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Studierende</th>
                        <th scope="col">Bedienstete</th>
                        <th scope="col">Gäste</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${meals.isEmpty()}">
                        <td colspan="4"> No Menu Available </td>
                    </tr>
                    <tr th:each="meal : ${meals}">
                        <td>
                            <span sec:authorize="isAnonymous()" th:text="${meal.getDescription()}"></span>
                            <a sec:authorize="isAuthenticated()" th:href="@{|/meal/${meal.getId()}|}" th:text="${meal.description}"></a>
                        </td>
                        <td><span th:text="${meal.getAvgRating()}"></span></td>
                        <td><span th:text="${meal.priceStudent}"></span></td>
                        <td><span th:text="${meal.priceStaff}"></span></td>
                        <td><span th:text="${meal.priceGuest}"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>